APP_NAME=Score
APP_ENV=local
APP_KEY=base64:5NdjTEszsnX5NVcu7xj6yiPYuDKCyjrD5RMN0JGiZxA=
APP_DEBUG=true
APP_URL=http://score.prototyp2

LOG_CHANNEL=stack
# Define here your the name of your logging source for Graylog
# Example: LOGGING_SYSTEM_NAME=${YOUR_NAME}_dev_system
LOGGING_SYSTEM_NAME=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=score
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=redis
QUEUE_DRIVER=redis
CACHE_DRIVER=file
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

EVOLI_HOST=
EVOLI_CLIENT_ID=
EVOLI_CLIENT_SECRET=

EP5_URL=

XAPI_API_ENDPOINT=test
XAPI_VERSION=1.0.3
XAPI_AUTH=test

OS_TICKET_URL=
OS_TICKET_API_KEY=
OS_TICKET_DEPT_ID=15
